* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1000px;
    margin: auto;
    border-left: solid 3px orange;
    border-right: solid 3px orange;
    font-family: 'Dongle', sans-serif;
}

#headerUl {
    display: flex;
    list-style: none;
    background-color: rgb(147, 201, 246);
    align-items: center;
    justify-content: center;
}

#photoprofil {
    width: 180px;
}

#headerLi {
    margin-right: 70px;
    padding-right: 20px;
}


#flexUl {
    display: flex;
    align-items: center;
}

nav {
    background-color: lightgrey;
    display: flex;
    align-content: center;
    justify-content: center;
}

#navUl {
    display: flex;
    justify-content: flex-start;
    list-style: none;  
    color: orange;
    margin-top: 5px;
}

#navUl2 {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-left: 510px;
    margin-top: 5px;
}

#navLi {
    margin-left: 10px;
}

#navLi2 {
    margin-left: 3px;
}

button {
    background-color: orange;
    padding: 2px;
    border-radius: 5px;
}

main {
    display: flex;
    padding-left: 2%;
}

aside {
    width: 250px;
}

#paside {
    background-color: lightgrey;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

#footerUl {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    background-color: rgb(147, 201, 246) ;
    padding: 5px;
}

#footerli {
    padding: 5px;
    text-decoration: none;
    color: black;
}

h3 {
    color: orange;
    text-decoration: underline;
}

#h2main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#titreaside {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#afooter {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight:bold
}

input.value {
    disable
}
